.dashboard {
    display: flex;
}
.side-wrap {
    width: 95px;
    height: 100%;
    background: #303456;
}
.side-wrap-hold {
    min-width: 95px;
}
.side-bar {
    position: fixed;
}
.content {
    width: 100vw;
    height: 100%;
    background: #f1f1f1;
}
.header-bar {
    position: fixed;
    width: calc(100vw - 95px);
}
.header-hold {
    height: 50px;
}
.dashboard-container {
    padding: 50px 40px;
}
.dashboard-container h4 {
    color: #4d4d4d;
    font-weight: 900;
}