@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.header-bar {
    background: white;
    position: relative;
    z-index: 1;
}
.account-icon {
    color: #444;
    font-size: 30px;
}
.dropdown-content {
    position: absolute;
    right: 10px;
    top: -100px;
    width: 100px;
    background: white;
    transition: top .5s;
}
.dropdown-content hr {
    margin: 0;
}
.dropdown-content h5 {
    margin: 10px;
    cursor: pointer;
    color: black;
}
.sidebar-label {
    font-size: 11px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.sidebar-icons {
    color: white;
    margin: 0;
}
.sidebar-logo {
    height: 60px;
    margin: 30px 0 15px 0;
}
.sidebar-links {
    margin: 10px;
    border-radius: 10px;
    padding: 2px;
}
.sidebar-links:hover {
    background: #222;
}
.sidebar-links.active {
    background: #EA5179;
}
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
}
.form {
    position: relative;
    width: 500px;
    padding: 50px;
}
.form .screen {
    position: absolute;
    top: 0;
    left: 0;
    background: #ddd;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.form h2 {
    font-family: "Roboto";
    font-weight: 900;
    color: #D54D81;
    margin: 0;
    position: relative;
}
.form form {
    position: relative;
}
.login-logo {
    position: absolute;
    height: 80px;
    top: 30px;
    left: 30px;
}
.error {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 410px;
}